<!DOCTYPE html>
<% include ../partials/header %>
<!--Page Title-->
<section class="page-title">
  <div class="auto-container">
    <h1><%= pageDetails.header %></h1>
  </div>
</section>

<!--Page Info-->
<section class="page-info">
  <div class="auto-container clearfix">
    <div class="pull-left"><h2><%= pageDetails.header %></h2></div>
  </div>
</section>

<!--Sidebar Page-->
<div class="sidebar-page-container">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
        <!--Products Section-->
        <section class="products-section no-padd-top">
          <div class="shop-upper-box">
            <div class="clearfix">
              <div class="pull-left items-label">
                Showing 1-9 of <%= products.length+1 %>
              </div>
              <div class="pull-right sort-by">
                <strong>Sort By:</strong>
                <select class="sort-select">
                  <option>Price: Lowest First</option>
                  <option>Price: Highest First</option>
                  <option>Ascending</option>
                  <option>Descending</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <% for(let product of products) { %>
            <div class="default-shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <!--inner-box-->
              <div class="inner-box">
                <!--image-box-->
                <figure class="image-box">
                  <a href="products/v/<%= product._id %>"
                    ><img src="<%= product.img %>" alt="<%= product.name %>"
                  /></a>
                </figure>

                <!--lower-content-->
                <div class="lower-content">
                  <h3>
                    <a href="products/v/<%= product._id %>"
                      ><%= product.name %></a
                    >
                  </h3>

                  <!-- <div class="price">$ 25.99 <span>$ 35.99</span></div> -->
                  <div class="links-box">
                    <a class="cart-btn" href="#">Request Price</a>
                    <a
                      class="zoom-btn lightbox-image"
                      href="<%= product.img %>"
                      title="<%= product.name %>"
                      ><span class="fa fa-search-plus" title="Quick View"></span
                    ></a>
                    <a class="add-to-favorite" href="#" title="Add to Favourite"
                      ><span class="fa fa-heart"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <% } %>
          </div>
        </section>
      </div>
      <div class="sidebar-side col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <aside class="sidebar">
          <!-- Search Form -->
          <div class="widget search-box sidebar-widget">
            <form
              method="post"
              action=""
            >
              <div class="form-group">
                <input
                  type="search"
                  name="search-field"
                  value=""
                  placeholder="Enter Keyword"
                />
                <button type="submit">
                  <span class="icon fa fa-search"></span>
                </button>
              </div>
            </form>
          </div>

          <div class="widget popular-categories sidebar-widget">
            <div class="sidebar-title"><h3>Categories</h3></div>
            <ul class="list-three">
              <% categories.forEach(category => { %>
              <li><a href="#"><%= category.name %></a></li>
              <% }); %>
            </ul>
          </div>
        </aside>
      </div>
      <!--End Sidebar-->
    </div>
  </div>
</div>

<% include ../partials/footer %>
