<!DOCTYPE html>
<html>
  <% include ../partials/adminheader %>

  <section class="register-section">
    <div class="auto-container">
      <div class="row clearfix">
        <% include ../partials/aside %>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <table class="table table-striped cart-table">
            <thead class="cart-header">
              <tr>
                <th scope="col">SN</th>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Categories</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>

            <tbody>
              <% let n=0; products.map(product =>{ n++; 
              %>
              <tr>
                <th scope="row"><%= n %></th>
                <td class="prod-column">
                <div class="column-box">
                <figure class="prod-thumb"><a href="/products/<%= product._id %>"><img src="<%= product.img.slice(6) %>" alt=""></a></figure>
                </div>
                </td>
                <td><%= product.name %></td>
                <td>
                  <%= product.category[0] %> <% if(product.category[1]) {%><%=
                  ', '+product.category[1] %> <%}%>
                </td>
                <td><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format(product.price)
                 %></td>
                <td><%= product.qty %></td>
                <td>
                 <form method="post" action="/products?_method=DELETE">
                                    <input type="hidden" name="_id" value="<%= product._id %>">
                                    <button type="submit" class="fa fa-trash"></button></form>
                
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/adminfooter %>
</html>
