
<head>
    <meta charset="utf-8">
    <title><%= pageDetails.title %></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/revolution-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="/css/responsive.css" rel="stylesheet">
    </head>
    
    <body>
    
    <div class="page-wrapper">
         
        <header class="main-header">
            <div class="header-top">
                <div class="auto-container">
                    <div class="row clearfix">
                        
                                      
                        <!--Top Right-->
                        <div class="top-right pull-right">
                        
                            <div class="social-icon">
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-dribbble"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                            
                            <ul>
                                <li><span class="fa fa-envelope-o"></span>contact@fmgfurniture.com</li>
                                <li><span class="fa fa-phone"></span>Mobile: +234 7032 763364, +2348022443561</li>
                                <li><span class="fa fa-clock-o"></span>Mon - Sat : 8:00am -6:00pm</li>
                            </ul>
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
    
            <div class="main-box">
                <div class="auto-container">
                    <div class="outer-container clearfix">
                        <div class="logo-box">
                            <h2 style="color: #000;"><strong><span style="color: #FC721E">FM</span>G</strong>Furniture</h2>
                       </div>
                        
                        <!--Nav Outer-->
                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                    <% for (let item of nav) { %>
                                    <li <% if(item.title === pageDetails.current){ %><%= "class=current" %><% }%>>
                                        <a href="<%= item.link %>"><%= item.title %></a></li>
                                    <% } %>
                                     </ul>
                                </div>
                            </nav><!-- Main Menu End-->
                            
                        </div>
    
                        <div class="nav-toggler">
                        <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                        </div>
                    </div>    
                </div>
            </div>
        
        </header>
       
        <section class="hidden-bar right-align">
            
            <div class="hidden-bar-closer">
                <button class="btn"><i class="fa fa-close"></i></button>
            </div>
            
            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">
            
               
                <div class="side-menu">
                <!-- .navigation -->
                    <ul class="navigation">
                    <% for (let item of nav) { %>
                        <li <% if(item.title === pageDetails.current){ %><% "class=current" %><% }%>>
                            <a href="<%= item.link %>"><%= item.title %></a></li>
                    <% } %>
                    </ul>
                </div><!-- /.Side-menu -->
            
                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            
            </div>
        </section>
    